apiVersion: v1
kind: ConfigMap
metadata:
  name: containerssh-config
  namespace: containerssh
data:
  config.yaml: |
    log:
      level: debug
      format: text

    ssh:
      listen: "0.0.0.0:2222"
      hostkeys:
        - /etc/containerssh/hostkeys/ssh_host_rsa_key

    auth:
      password:
        method: webhook
        webhook:
          url: "http://127.0.0.1:8080"

    # configserver:
    #   url: "http://127.0.0.1:8080/config"
    # metrics:
    #   enable: true
    #   listen: 0.0.0.0:9100
    #   path: /metrics
    backend: "kubernetes"
    
    kubernetes:
      # Конфигурация подключения к Kubernetes
      connection:
        host: "https://kubernetes.default.svc"
        cacert: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        bearerToken: /var/run/secrets/kubernetes.io/serviceaccount/token
      
      pod:
        # Конфигурация запускаемого Pod
        metadata:
          namespace: default
        spec:
          containers:
            - name: shell
              image: "alpine:latest"
              command: ["/bin/sh"]
              stdin: true
              tty: true
              securityContext:
                runAsUser: 1000
          restartPolicy: Never